################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
bin
obj
/src/.cr/personal/Unit Testing
*.user
